@charset "utf-8";
/* CSS Document */

/* Genral 
========================================================================================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 	margin: 0; 	padding: 0; border: 0;	font-size: 100%; font-style:inherit;	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block;}
ol, ul { list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table {	border-collapse: collapse; border-spacing: 0;}

.clearfix:after {  content: "."; display:block; font-size:0; line-height:0; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }		
* html .clearfix { height:1%; }
.clearfix { display:block; }

.alingLeft { float:left}
.alingRight { float:right}

:focus { outline:none;}
img { vertical-align:top; border:0; max-width:100% }
p { padding:0 0 15px 0}
strong { font-weight:bold }
address { font-size:13px; font-style:normal }

section:after {  content: "."; display:block; font-size:0; line-height:0; height:0; clear:both; visibility:hidden; }
section { display:inline-block; }		
* html section { height:1%; }
section { display:block; }

.pageContainer{ display:none;}
.pageContainer:first-child{ display:block;}


article fieldset ul{ padding:0; margin:0;}
article fieldset ul li{ padding:0; margin:0 0 10px 0; float:none;}
article fieldset label{ width:80px; display:inline-block; vertical-align:top;}
article fieldset li:before{ display:none; padding:0; margin:0}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"], input[type="search"], input[type="date"], input[type="url"],  textarea{ font-family:Helvetica, Arial, sans-serif
	
}
input[type="submit"], input[type="button"]{
}

#title_box{
	width:90%;
	margin-top:21px;
	margin-bottom:20px;
	}
#para{
	margin-top:10px;
	text-align:left;
	
	}
#title_text{
	text-align:left;
	background: -moz-linear-gradient(left, rgba(28,117,188,1) 0%, rgba(28,117,188,1) 60%, rgba(28,117,188,0.78) 72%, rgba(28,117,188,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(28,117,188,1)), color-stop(60%,rgba(28,117,188,1)), color-stop(72%,rgba(28,117,188,0.78)), color-stop(100%,rgba(28,117,188,0)));
	background: -webkit-linear-gradient(left, rgba(28,117,188,1) 0%,rgba(28,117,188,1) 60%,rgba(28,117,188,0.78) 72%,rgba(28,117,188,0) 100%);
	background: -o-linear-gradient(left, rgba(28,117,188,1) 0%,rgba(28,117,188,1) 60%,rgba(28,117,188,0.78) 72%,rgba(28,117,188,0) 100%);
	background: -ms-linear-gradient(left, rgba(28,117,188,1) 0%,rgba(28,117,188,1) 60%,rgba(28,117,188,0.78) 72%,rgba(28,117,188,0) 100%);
	background: linear-gradient(to right, rgba(28,117,188,1) 0%,rgba(28,117,188,1) 60%,rgba(28,117,188,0.78) 72%,rgba(28,117,188,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c75bc', endColorstr='#001c75bc',GradientType=1 );
	color:#fff;
	margin-left:55px;
	padding-top:8px;
	padding-bottom:10px;
	padding-left:60px;
	margin-top:-63px;
	font-size:28px;
	font-family: 'Russo One', sans-serif;
	text-shadow: 0px 0px 5px #000;
	filter: dropshadow(color=#000, offx=0, offy=0);
	-webkit-border-radius: 0 10px 10px 0;
	}
.small_text{
	font-size:9px;
	vertical-align: 5px;
	}
.infoBox{margin:0 auto; width:65%; padding:10px; -webkit-border-radius: 10px 10px 10px 10px; border-radius: 10px 10px 10px 10px; color:#000; border: 3px solid #1C75BC; background:#DFDFDF; margin-bottom: 25px;}

div.topLeft {
	position: relative;
	width: 48%;
	height: 150px;
	border: 1px solid #1C75BC;
	overflow: hidden;
	-webkit-border-radius: 10px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 20px;
	float:left;
	clear:both;
	}	
	
div.topLeft div {
	width: 100%;
	min-height:100%;
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	-webkit-border-radius: 10px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px;
   	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	}
		
div.topLeft div.first {
	}		
		
div.topLeft:hover div.first {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	left:-600px;
	}
	
div.topRight {
	position: relative;
	width: 48%;
	height: 150px;
	border: 1px solid #1C75BC;
	overflow: hidden;
	-webkit-border-radius: 10px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 20px;
	float:right;
	}	
	
div.topRight div {
	width: 100%;
	height:150px;
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	-webkit-border-radius: 10px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px;
   	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	}
		
div.topRight div.first {
	}		
		
div.topRight:hover div.first {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	left:600px;
	}
.evoImg{margin-top:20px}

.first{	
	vertical-align:middle;
	z-index: 1000;
	-webkit-border-radius: 10px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px;
	background: #555;
	}
.second{
	background: #222;
	overflow:auto;
	height:150px;
	padding-top:5px;
	padding-bottom:5px;
		}